@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Pacifico&display=swap');


$primary-orange: #fd9d3e;
$primary-dark: #121619;
$primary-white: #ffffff;
$light: #0c0c0c44;
$red: #ff0000;
$grey: #2b2c2d;


$header-font: 'PT Sans Narrow';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: $header-font;
}

.loader{
    position: fixed;
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__home{
    position: relative;
    z-index: 1;
}


::-webkit-scrollbar {
    width: 7px;
  }
  

::-webkit-scrollbar-track {
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    background: $primary-orange; 
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: $primary-orange; 
}

.menu__page__head{
    height: 250px;
    width: 100%;
    background-color: $primary-orange;
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        padding-top: 80px;
        color: $primary-dark;
        font-size: 40px;
    }
}

.test__export{
    padding: 3rem 0rem;
    max-width: 90%;
    margin: auto;

    .Shoping__cart__name{
        font-size: 40px;
    }

    .cart__row{
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 100%;
        border-bottom: 1px solid $grey;
        padding: 10px 0;
        .cart__img{
            width: 120px;
        }


        .price__manipulate{
            padding: 10px 0;
            display: flex;
            align-items: center;
            gap: 10px;
            width: 150px;

            button{
                border: none;
                background-color: transparent;
            }
            .manipulate{
                padding: 0 7px;
                font-size: 18px;
                border: 1px solid $primary-orange;

            }

            .delete{
                display: flex;
                justify-content: flex-end;
                padding: 3px 20px;
                font-size: 18px;
                background-color: $primary-dark;
                color: $primary-white;

            }
        }
    }

    .sum__clean{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
        div{
            display: flex;
            gap: 1rem;
        }
        
        .sumPrice{
            font-size: 30px;
        }
        .Clean__btn, .cart__buy{
            border: none;
            outline: none;
            background-color: $primary-dark;
            color: $primary-white;
            padding: 7px 25px;
            font-size: 20px;
            cursor: pointer;
        }

        .cart__buy{
            background-color: $primary-orange;
            color: $primary-dark;
            padding: 7px 30px;

        }
    }

}




@media (min-width: 1200px){
    .test__export{
        max-width: 1100px;
        .cart__item__rom{
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(2, 1fr);
        }
        .cart__row{
            display: flex;
            align-items: center;
            gap: 1rem;
            width: 100%;
            border-bottom: 1px solid $grey;
            padding: 10px 0;
            .cart__img{
                width: 150px;
            }
    
    
            .price__manipulate{
                padding: 10px 0;
                display: flex;
                align-items: center;
                gap: 10px;
                width: 150px;
                font-size: 25px !important;
    
                button{
                    border: none;
                    background-color: transparent;
                }
                .manipulate{
                    padding: 0 10px;
                    font-size: 25px !important;
                    border: 1px solid $primary-orange;
    
                }
    
                .delete{
                    display: flex;
                    justify-content: flex-end;
                    padding: 6px 20px;
                    font-size: 18px;
                    background-color: $primary-dark;
                    color: $primary-white;
    
                }
            }
        }
        .sum__clean{
            div{
                gap: 5rem;
            }
            .cart__buy{
                font-size: 22px;
                padding: 7px 50px;
    
            }
        }
    }

}